@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  height: 100%; /* p/ posicionar o footer no final da página*/
}

body {
  background-color: #0c0f16;
  display: flex; /* p/ posicionar o footer no final da página*/
  flex-direction: column; /* p/ posicionar o footer no final da página*/
}

/*div-pai do nav */
.max-width {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
}

/* nav */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 20px 0;
  font-family: "Ubuntu", sans-serif;
  /* background-color: #121721; */
  background-color: none;
  border-bottom: 1px solid #1b202a;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #547ec7;
  font-size: 35px;
  font-weight: 500;
}

/*hover .logo */
.navbar .logo a:hover {
  color: #fff;
}

.navbar .menu {
  margin-right: 20px;
}

.navbar .menu li {
  list-style: none;
  display: inline-block; /*coloca em uma unica linha*/
}

/*hover no a*/
.navbar .menu li a:hover {
  color: #26c5dc;
}

.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-left: 25px;
}

.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none; /*esconder icone bars*/
}

/*mostrar o icone bars */
/* @media (max-width: 947px) { */
@media (max-width: 640px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  /*trocando de icone bars p/ f00d */
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    background-color: #121721;
    height: 100vh; /* para ocupar 100% da tela quando minimizar*/
    width: 100%;
    left: -100%; /* esconde todo menu da direita para esquerda*/
    /* top: 0; */
    top: 10%;
    text-align: center;
    padding-top: 80px;
    transition: all 1.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }

  /*hover*/

  .navbar .menu li:hover {
    border: 1px solid #26c5d5;
    border-radius: 4px;
  }
  .navbar .menu li a:hover {
    color: #26c5d5;
  }
  /*hover*/

  .navbar .menu li a {
    display: inline-block;
    margin: 13px 0;
    font-size: 25px;
  }
  .max-width {
    max-width: 930px;
  }
}

@media (max-width: 195px) {
  .max-width {
    display: grid;
    flex-wrap: wrap; /*alinha item em colunas */
    align-items: center;
    justify-content: center;
  }
}

section {
  padding: 50px 0;
}

@media (max-width: 690px) {
  section {
    padding: 20px 0;
  }
}

/*classe section */
.top {
  color: #fff;
  display: flex;
  background: url("../images/topo_v2.jpg") no-repeat center;
  height: 100vh;
  min-height: 500px;
  background-attachment: fixed; /*fixa a imagem de fundo */
  background-size: cover; /*cobre os espaços vazios*/
  font-family: "Ubuntu", sans-serif;
}

.top .max-width {
  width: 100%;
  display: flex;
}

.top .top-content .text-1 {
  font-size: 25px;
  margin-top: 100px;
}
.top .top-content .text-2 {
  font-size: 55px;
  font-weight: 400;
  margin-left: -3px;
}
.top .top-content .text-3 {
  font-size: 32px;
  margin: 5px 0;
}
/*tornando o link em um botão */
.top .top-content a {
  display: inline-block;
  background-color: #b02ab7;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 300;
  border-radius: 6px;
  border: 2px solid #b02ab7;
  transition: all 0.3s ease;
}
.top .top-content a:hover {
  color: #b02ab7;
  background: none;
}

.services {
  color: #fff;
  background-color: #0c0f16;
  font-family: "Poppins", sans-serif;
}

.services .title {
  text-align: center;
  margin: 40px 0;
  font-size: 35px;
  font-weight: 400;
}

.services .serv-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.services .serv-content .card {
  width: calc(33% - 20px);
  background-color: #1b202a;
  text-align: center;
  border-radius: 6px;
  padding: 50px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.services .serv-content .card:hover {
  background: #b02ab7;
}
.services .serv-content .card i {
  font-size: 50px;
  color: #b02ab7;
  transition: all 0.7s ease;
}
.services .serv-content .card {
  transition: all 0.3s ease;
}
.services .serv-content .card:hover .box {
  transform: scale(1.05);
}

.services .serv-content .card:hover i {
  color: #fff;
}

.services .serv-content .card .text {
  font-size: 25px;
  margin: 10px 0 7px 0;
}
@media (max-width: 947px){
  .services .serv-content .card{
    width: calc(50% - 10px); /* 50% coloca dois em uma linha */
    margin-bottom: 20px;
  }
}

@media(max-width: 690px){
  .services .serv-content .card{
    width: 100%; /*ocupa uma linha por vez */
  }
}

footer {
  background-color: #121721;
  padding: 25px 23px;
  color: #fff;
  text-align: center;
  margin-top: auto;
  font-family: "Poppins", sans-serif;
}

footer span a {
  color: #547ec7;
}
footer span a:hover {
  color: #fff;
}
